<section class="transactionList container-fuild">
    <article class="row justify-content-md-center">
        <div class="list col-lg-11">
            <article class="headerWrapper">
                <h2>
                    <span class="recent"><i class="fas fa-redo"></i> Recent Transactions</span>
                    <span class="icon"><i class="fas fa-exchange-alt"></i></span>
                </h2>
            </article>
            <article class="subWrapper">
                <div >
                    <header> <i class="fab fa-slack"></i> November 11,2018</header>
                    <ul>
                        <li>  
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                        <li>
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                        <li>
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount error">+$4,500.00</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <header> <i class="fab fa-slack"></i> Octuber  21,2018</header>
                    <ul>
                        <li>  
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                        <li>
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                        <li>
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <header> <i class="fab fa-slack"></i> Octuber  21,2018</header>
                    <ul>
                        <li>  
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                        <li>
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                        <li>
                            <span class="date" *ngIf="!showLessData"><i class="fas fa-caret-right"></i> 11 11 2018 13:44</span>
                            <span class="text">Bill payment #2034405</span>
                            <span class="amount">+$4,500.00</span>
                        </li>
                    </ul>
                </div>
                <footer>
                    <button mat-stroked-button class="footerBtn">Load More</button>
                </footer>
            </article>
        </div>
    </article>
</section>