<section class="container-fuild">
	<div class="row">
		<div class="col-lg-4">
			<mat-card class="priceList active">
				<i class="fas fa-money-bill-alt"></i>
				<p>Income Today</p>
				<h3>$24 012</h3>
			</mat-card>
		</div>
		<div class="col-lg-4">
			<mat-card class="priceList">
				<i class="fas fa-coins"></i>
				<p>Activty Today</p>
				<h3>$13 456</h3>
			</mat-card>
		</div>
		<div class="col-lg-4">
			<mat-card class="priceList">
				<i class="far fa-credit-card"></i>
				<p>Program Today</p>
				<h3>$10 904</h3>
			</mat-card>
		</div>
	</div>
</section>