
// Variables Names
// ==============================================================================
@import '../../../constants.scss';

// ==============================================================================
.priceList{
	background: $primaryWhite;
	color: $primaytext;
	text-align: center;
	padding: 20px;
	@extend .popupHoverEffect;
	@include transition(0.3s);
   i{
		@include transition(0.3s);
		font-size: 52px;
		margin-bottom: 14px;
		color: $primayColor;
   } 
   p{
		font-size: 14px;
		margin-bottom: 5px;
   }
   h3{
    font-size: 25px;
   }
   &.active, &:hover{
	   i{
		   color:$primaryWhite;
	   }
		background: $primayColor;
   }
}
// ==============================================================================
