
<div class="navWrapper">
	<header>
		<!-- <a href="javascript:;" class="logo"><img src="../../../assets/logo.svg" alt="logo"></a> -->
		<a  routerLink="/home" class="logo"><i class="fab fa-atlassian"></i></a>
	</header>

	<article class="navOptions">
		<ul>
			<li class="active" matBadge="15" matBadgeColor="warn">
				<a routerLink="/home" routerLinkActive="active">
					<i class="far fa-folder"></i>
				</a>
			</li>
			<li>
				<a routerLink="/ripple" routerLinkActive="active">
					<i class="far fa-money-bill-alt"></i>
				</a>
			</li>
			<li>
				<a routerLink="/profile" routerLinkActive="active">
					<i class="far fa-user"></i>
				</a>
			</li>
		</ul>
	</article>

	<footer>
		<ul>
			<li class="active">
				<a href="javascript:;" class="menu">
					<i class="fas fa-ellipsis-h"></i>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="fas fa-headphones"></i>
				</a>
			</li>
		</ul>
	</footer>
</div>