/* You can add global styles to this file, and also import other style files */
@import './constants.scss';
html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif !important; }
.mat-dialog-container{
    // background: #Fff !important;
    // color: $primaytext !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background-color: $primayColor;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:  $primayColor;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $primayColor;
}
